/* .intro-container {
	width: 90%;
	margin: auto;
} */

h1 {
	font-weight: 700;
	margin-bottom: 3rem;
}

.museum-btn {
	background-color: #f48804;
	color: black;
	font-size: 30px;
	padding: 10px 20px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
}
.museum-img {
	width: 400px;
	display: block;
	margin: 0 auto;
}

.splide-container {
	padding-left: auto;
	padding-right: auto;
}

.slide-image {
	display: block;
	margin: 10px auto;
	height: 60%; /* updated height */
	width: auto;
}
